@page "/"
<link rel="stylesheet" href="Home.razor.css" />

<PageTitle>Home</PageTitle>
<body>
    

<div class="topnav">
  <a class="active" href="/">Home</a>
</div> 
<div class="backg" >
    <div class="center-pop" >
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </div>
</div>
</body>