@page "/"
@using Microsoft.AspNetCore.Mvc
<link rel="stylesheet" href="Home.razor.css" />

<PageTitle>Home</PageTitle>
<body>
    

<div class="topnav">
        <a class="active" href="/">Home</a>
</div> 
<div class="backg" >
    
    <div class="center-pop" >
        <iframe src="https://drive.google.com/file/d/1uAJHnUZR3Y_kgsor_bvUaoVrBnGNC45I/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>



</div>

</body>